Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bitextor-git.pc
bitextor_config.h
bitextor_config.h.in
bleualign-cpp/CMakeCache.txt
bleualign-cpp/CMakeFiles/
bleualign-cpp/CTestTestfile.cmake
bleualign-cpp/Makefile
bleualign-cpp/bleualign_cpp
bleualign-cpp/cmake_install.cmake
bleualign-cpp/gtest/
bleualign-cpp/libbleualign_cpp_lib.so
bleualign-cpp/preprocess-bin/
bleualign-cpp/tests/CMakeFiles/
bleualign-cpp/tests/CTestTestfile.cmake
bleualign-cpp/tests/Makefile
bleualign-cpp/tests/cmake_install.cmake
bleualign-cpp/tests/test_all
compile
config.guess
config.log
config.status
config.sub
configure
install-sh
missing
model/Makefile
model/Makefile.in
stamp-h1
utils/Makefile
utils/Makefile.in
.snakemake/
__pycache__/
utils/__pycache__/
