bleualign-cpp/CMakeCache.txt
bleualign-cpp/CMakeFiles/
bleualign-cpp/CTestTestfile.cmake
bleualign-cpp/Makefile
bleualign-cpp/bleualign_cpp
bleualign-cpp/cmake_install.cmake
bleualign-cpp/gtest/
bleualign-cpp/libbleualign_cpp_lib.so
bleualign-cpp/preprocess-bin/
bleualign-cpp/tests/CMakeFiles/
bleualign-cpp/tests/CTestTestfile.cmake
bleualign-cpp/tests/Makefile
bleualign-cpp/tests/cmake_install.cmake
bleualign-cpp/tests/test_all
document-aligner/CMakeCache.txt
document-aligner/CMakeFiles/
document-aligner/bin/
document-aligner/cmake_install.cmake
document-aligner/preprocess-bin/
document-aligner/CTestTestfile.cmake
model/Makefile
model/Makefile.in
stamp-h1
utils/Makefile
utils/Makefile.in
.snakemake/
.idea/
__pycache__/
utils/__pycache__/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
