[submodule "clustercat"]
	path = clustercat
	url = https://github.com/jonsafari/clustercat
	ignore = dirty
[submodule "mgiza"]
	path = mgiza
	url = https://github.com/moses-smt/mgiza
	ignore = dirty
[submodule "bicleaner"]
	path = bicleaner
	url = https://github.com/bitextor/bicleaner
	ignore = dirty
[submodule "preprocess"]
	path = preprocess
	url = https://github.com/kpu/preprocess
	ignore = dirty
[submodule "pdf-extract"]
	path = pdf-extract
	url = https://github.com/bitextor/pdf-extract
	ignore = dirty
[submodule "bifixer"]
	path = bifixer
	url = https://github.com/bitextor/bifixer
	ignore = dirty
[submodule "bleualign-cpp"]
	path = bleualign-cpp
	url = https://github.com/bitextor/bleualign-cpp
	ignore = dirty
[submodule "biroamer"]
	path = biroamer
	url = https://github.com/bitextor/biroamer.git
	ignore = dirty
