[submodule "clustercat"]
	path = clustercat
	url = https://github.com/jonsafari/clustercat
	ignore = dirty
[submodule "mgiza"]
	path = mgiza
	url = https://github.com/moses-smt/mgiza
	ignore = dirty
[submodule "hunalign"]
	path = hunalign
	url = https://github.com/bitextor/hunalign
	ignore = dirty
[submodule "bicleaner"]
	path = bicleaner
	url = https://github.com/bitextor/bicleaner
	ignore = dirty
[submodule "preprocess"]
	path = preprocess
	url = https://github.com/kpu/preprocess
	ignore = dirty
[submodule "standoff"]
	path = standoff
	url = https://github.com/lpla/standoff
	ignore = dirty
[submodule "restorative-cleaning"]
	path = restorative-cleaning
	url = https://github.com/bitextor/restorative-cleaning
	ignore = dirty
[submodule "pdf-extract"]
	path = pdf-extract
	url = https://github.com/bitextor/pdf-extract
	ignore = dirty
