beautifulsoup4==4.8.0
nltk==3.4.5
python-Levenshtein==0.12.0
scikit-learn==0.21.3
tensorflow==1.14
keras==2.2.4
warcio==1.6.3
snakemake==5.4.4
tldextract==2.2.1
tqdm==4.34.0
ftfy==5.5.0
sacrebleu==1.3.7
func_timeout==4.3.0
lxml==4.4.1
html5lib==1.0.1
toolwrapper==0.4.1
pycld2==0.31
python-dateutil==2.8.0
cchardet==2.1.4
git+https://github.com/slaveofcode/boilerpipe3.git
cerberus==1.3.1
alcazar==0.5.1
python-magic==0.4.15
mosestokenizer==1.0.0
regex==2019.08.19
requests==2.22.0
urllib3==1.25.3
selectolax==0.1.13
python-pdfextract==1.0.1.1
mmh3==2.5.1
