beautifulsoup4==4.7.1
h5py==2.8.0
html2text==2018.1.9
iso-639==0.4.5
langid==1.1.6
matplotlib==2.2.2
nltk==3.3
python-Levenshtein==0.12.0
scikit-learn==0.21.0
tensorflow==1.13.1
keras==2.2.4
warcio==1.6.3
tld==0.9.1
git+https://github.com/pytries/datrie.git
snakemake==5.4.2
tqdm==4.28.1
tldextract==2.2.0
ftfy==5.5.0
sacrebleu==1.2.12
func_timeout==4.3.0
lxml==4.2.5
html5lib==1.0.1
toolwrapper==0.3.0
docopt==0.6.2
openfile==0.0.7
pycld2==0.31
python-dateutil==2.7.5
cchardet==2.1.4
git+https://github.com/lpla/boilerpipe3.git@patch-1
cerberus==1.2
alcazar==0.4.0
python-magic==0.4.15
mosestokenizer==1.0.0
regex==2018.1.10
requests==2.21.0
urllib3<1.25
