name: Intensive tests with conda

on:
   schedule:
      - cron: '0 3 * * 0'
   workflow_dispatch:
      inputs:
         conda_package:
            description: 'Package from repo. Syntax: pkg[==version[=build]]'
            required: false
            default: 'bitextor'
         create_build:
            type: boolean
            description: 'Create build (i.e. do not pull pkg from repo)'
            default: true
         build_ref:
            description: 'Ref to use for local build (i.e. branch, tag or commit)'
            default: 'master'
         test_id:
            description: 'Run specific test ID'
            required: false
            default: 'all'
            type: choice
            options:
               - 'all'
               - '0x01'
               - '0x02'
               - '0x04'
               - '0x08'
               - '0x10'
               - '0x20'
               - '0x40'
               - '0x80'

env:
   WORK: ${{ github.workspace }}
   CONDA_PACKAGE: ${{ github.event.inputs.conda_package || 'bitextor' }}
   CREATE_BUILD: ${{ github.event.inputs.create_build || 'true' }}
   TEST_ID: ${{ github.event.inputs.test_id || 'all' }}
   BUILD_REF: ${{ github.event.inputs.build_ref || 'master' }}

jobs:
   tests:
      name: ${{ matrix.name }}
      runs-on: ubuntu-latest
      timeout-minutes: 720
      strategy:
         fail-fast: false # Continue even when a matrix job fails in order to detect as many errors as possible
         matrix:
            include:
               - name: Tests MT
                 test_id: "0x01"
               - name: Tests dictionary based
                 test_id: "0x02"
               - name: Tests generate dictionary
                 test_id: "0x04"
               - name: Tests generate bicleaner model
                 test_id: "0x08"
               - name: Tests generate dictionary and bicleaner model
                 test_id: "0x10"
               - name: Tests combining dictionaries and MT
                 test_id: "0x20"
               - name: Tests neural
                 test_id: "0x40"
               - name: Other tests
                 test_id: "0x80"
      defaults:
         run:
            shell: bash -l {0} # Necessary for https://github.com/conda-incubator/setup-miniconda
      steps:
      -  name: Set up Miniconda
         uses: conda-incubator/setup-miniconda@v2.1.1
         with:
            miniconda-version: "latest"
            python-version: 3.8.5
            activate-environment: bitextor-tests
            channels: conda-forge,bitextor,bioconda,dmnapolitano,esarrias
      -  uses: actions/checkout@v3
         if: ${{ env.CREATE_BUILD == 'true' }}
         with:
            submodules: 'recursive'
            ref: ${{ env.BUILD_REF }}
      -  name: Create Bitextor conda build
         if: ${{ env.CREATE_BUILD == 'true' && (env.TEST_ID == 'all' || env.TEST_ID == matrix.test_id) }}
         working-directory: ./conda-build
         run: |
            ./make_build.sh -n bitextor-pkg -e bitextor-pkg-build -p 3.8 -s -r
      -  name: Install Bitextor locally
         if: ${{ env.CREATE_BUILD == 'true' && (env.TEST_ID == 'all' || env.TEST_ID == matrix.test_id) }}
         run: |
            # Tmp workaround: we install the package in the same environment (waiting answers: https://github.com/conda-incubator/setup-miniconda/issues/221)

            bitextor_pkg_prefix="$CONDA_PREFIX/../../envs/bitextor-pkg-build/conda-bld/linux-64"
            bitextor_pkg=$(ls "$bitextor_pkg_prefix" | grep ^bitextor.*[.]tar[.]bz2$ | sort -r | head -n 1)

            if [[ -z "$bitextor_pkg" ]]; then
               >&2 echo "ERROR: could not find the package"

               if [[ ! -d "$bitextor_pkg_prefix" ]]; then
                  >&2 echo "ERROR: dir '$bitextor_pkg_prefix' does not exist"
               else
                  ls "$bitextor_pkg_prefix"
               fi

               exit 1
            fi

            conda install --offline -y "${bitextor_pkg_prefix}/$bitextor_pkg"
            conda update -y --only-deps bitextor # Necessary in order to install dependencies from local builds
            command -v "bitextor" || \
               (>&2 echo "Binary 'bitextor' not available"; exit 1)
      -  name: Install Bitextor from repo
         if: ${{ env.CREATE_BUILD == 'false' && (env.TEST_ID == 'all' || env.TEST_ID == matrix.test_id) }}
         run: |
            conda install -y "${{ env.CONDA_PACKAGE }}"
      -  name: Run tests
         id: tests
         if: ${{ env.TEST_ID == 'all' || env.TEST_ID == matrix.test_id }}
         run: |
            "${CONDA_PREFIX}/bitextor/tests/run-tests.sh" -t ${{ matrix.test_id }} -w "$WORK" -j 4
      -  name: Print log of tests which failed
         # https://github.com/actions/runner/issues/1173
         #if: ${{ steps.tests.conclusion != 'success' }}
         if: ${{ always() }}
         run: |
            if [[ -f "${WORK}/data/fails.log" ]]; then
               while read line; do
                  IFS=$'\t' read -r -a array <<< "$line"
                  status=${array[0]}
                  notest=${array[1]}
                  exit_code=${array[2]}

                  str="# Test $notest (exit code / desc.: $exit_code) #"
                  eval $(echo printf '"#%0.s"' {1..${#str}}) && printf "\n"
                  echo "$str"
                  eval $(echo printf '"#%0.s"' {1..${#str}}) && printf "\n"

                  report_file="${WORK}/reports/${notest}.report"

                  if [[ -f "$report_file" ]]; then
                     awk -v prefix="(log test $notest)" '{print prefix" "$0}' "$report_file"
                  else
                     echo "(warning) No report file found for test $notest (this might be normal depending on the test; check the description)"
                  fi

                  echo ""
               done < "${WORK}/data/fails.log"
            else
               >&2 echo "ERROR: could not find the file with the detailed fails"
            fi
      -  name: Upload sent.gz files (artifacts)
         if: ${{ always() }}
         uses: actions/upload-artifact@v3
         with:
            name: all-sent.gz
            path: ${{ env.WORK }}/permanent/**/*.sent.gz
      -  name: Upload report files (artifacts)
         if: ${{ always() }}
         uses: actions/upload-artifact@v3
         with:
            name: reports
            path: ${{ env.WORK }}/reports/*.report
